---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?LPG&api_key=<IPI_KEY>&format=JSON?zip=80203&fuel_type=ELEC&limit=10&location=1617%20Cole%20Blvd%20Golden%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '989'
      Last-Modified:
      - Wed, 17 May 2017 16:31:16 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.74311,"longitude":-105.152332,"precision":{"types":["premise"],"name":"premise","value":9},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":26,"station_counts":{"total":76,"fuels":{"E85":{"total":0},"ELEC":{"total":76,"stations":{"total":26}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":0}}},"offset":0,"fuel_stations":[{"access_days_time":"MO:
        12:00am-12:00am; TU: 12:00am-12:00am; WE: 12:00am-12:00am; TH: 12:00am-12:00am;
        FR: 12:00am-12:00am; SA: 12:00am-12:00am; SU: 12:00am-12:00am","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":74041,"groups_with_access_code":"Public
        - Card key at all times","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"Denver
        West Bldg 17","station_phone":"800-663-5633","updated_at":"2017-05-17T07:51:19Z","geocode_status":"GPS","latitude":39.744703073211,"longitude":-105.15229735145,"city":"Lakewood","intersection_directions":"The
        stations are located in the back of the building on the I-70 side.","plus4":null,"state":"CO","street_address":"1626
        Cole Boulevard","zip":"80401","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":1,"ev_network":"SemaCharge
        Network","ev_network_web":"http://www.semacharge.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"station":["1309"],"posts":["2976"]},"distance":0.10992},{"access_days_time":"MO:
        Not Specified; TU: Not Specified; WE: Not Specified; TH: Not Specified; FR:
        Not Specified; SA: Not Specified; SU: Not Specified","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":74040,"groups_with_access_code":"Public
        - Card key at all times","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"Denver
        West Bldg 53","station_phone":"800-663-5633","update[...]
